.templatePicker {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.templatePicker h1 {
    color: black;
    font-size: 3rem;
    margin: 2rem;
}

.templatePicker .list {
    background-color: gainsboro;
    border-radius: 2rem;
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}