@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
.sidebar {
    height: 105vh;
    width: 20em;
    background-color: gainsboro;
    transition: width .5s ease;
    overflow-y: scroll;
    flex-shrink: 0;
    z-index: 100;
}
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 7em;
}
.sidebar header {
    display: flex;
    align-items: center;
    padding: 3em;
    justify-content: flex-end;
}



.sidebar header h1 {
    font-weight: bolder;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-right: auto;
    color: black;
}

.sidebar header h1.open {
    width: 100%;
}



.hamburger {
    background-color: grey;
    font-size: 2em;
    height: 2em;
    width: 2em;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    flex-shrink: 0;
}
.hamburger:hover {
    box-shadow: 0 0 .5em black;
}